.page-contact {
  $color: #990011FF;
  max-height: 50vh;
  background-color: $color;
  @include responsive-common(font-size, 3rem, 3rem, 5rem);
  &__social-media {
    display: flex;
    justify-content: space-evenly;
  }
  &__link {
    transition: .3s;
    @include hover-support() {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__wrap {
    border: 2px solid;
    border-radius: 5px;
    padding: 70px 30px;
    width: 70vw;
    max-width: 500px;
    position: relative;
  }
  &__contact-me {
    position: absolute;
    left: 50%;
    top: 0;
    padding: 0 10px;
    white-space: nowrap;
    background-color: $color;
    transform: translate(-50%, -50%);
  }
}